<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="menu_path" value="C:\Users\Albert\Github\repos\private\c_sharp\leo_class\winform\pos_machine\Menu.json"/>
	</appSettings>
</configuration>